body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-top: 30px;
}

.register_login{
	margin-top: 15px;
}

#register_logo{
	width: 200px;
}

#login_logo{
	width: 300px;
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.corpo_login{
	display: inline-block;
	padding: 32px 48px 0px 48px;
	border: 1px solid #EEE;
}

.img-footer{
	width: 30px;
	padding: 2px;
}

.fab-tip {
	position: fixed;
	right: 85px;
	padding: 0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width: auto;
}